server:
  port: "3001"
  read_timeout: "300s"
  write_timeout: "300s"
  idle_timeout: "300s"

providers:
  bedrock:
    region: us-west-2

routing:
  enable: true
  models:
   -  model: "default"
      provider_sequence:
        - name: "bedrock"
          variants:
            - model: us.anthropic.claude-opus-4-1-20250805-v1:0
              region: us-west-2
            - model: us.anthropic.claude-opus-4-20250514-v1:0
              region: us-west-2
            - model: us.anthropic.claude-sonnet-4-20250514-v1:0
              region: us-west-2
            - model: apac.anthropic.claude-sonnet-4-20250514-v1:0
              region: ap-northeast-3
            - model: apac.anthropic.claude-sonnet-4-20250514-v1:0
              region: ap-southeast-1
            - model: us.anthropic.claude-3-7-sonnet-20250219-v1:0
              region: us-west-2
            - model: apac.anthropic.claude-3-7-sonnet-20250219-v1:0
              region: ap-northeast-3
            - model: apac.anthropic.claude-3-7-sonnet-20250219-v1:0
              region: ap-southeast-1
            - model: us.anthropic.claude-3-5-haiku-20241022-v1:0
              region: us-west-2
   -  model: "haiku"
    # - model: "default" 
      provider_sequence:
        - name: "bedrock"
          variants:
            - model: us.anthropic.claude-3-5-haiku-20241022-v1:0
              region: us-west-2
            - model: apac.anthropic.claude-3-5-haiku-20241022-v1:0
              region: ap-southeast-1
            - model: us.anthropic.claude-3-5-haiku-20241022-v1:0
              region: us-east-1

  retry_timeout_millis: 1000
  rate_limit_seconds: 10
 
